.vim/tmp
.vim/plugged
.vim/.netrwhist

.tmux/plugins
.tmux/sessions/*
!.tmux/sessions/blog.conf
!.tmux/sessions/rails.conf

.elinks/*
!.elinks/elinks.conf

.config/*
!.config/karabiner
!.config/nvim

.bundle/*
!.bundle/config

.secrets.zsh
.zcompdump
*.pyc
