.vim/tmp
.vim/plugged
.vim/.netrwhist

.tmux/plugins
.tmux/sessions/*
!.tmux/sessions/blog.conf
!.tmux/sessions/code.conf
!.tmux/sessions/rails.conf
!.tmux/sessions/rails_work.conf
!.tmux/sessions/osconfig.conf

.bin/local

.bundle/*
!.bundle/config

.config/*
!.config/karabiner
.config/karabiner/automatic_backups
!.config/nvim
!.config/mise

.elinks/*
!.elinks/elinks.conf

.k9s/config.yml

.local.zsh
.gitconfig_local
.zcompdump
*.pyc
