snippet html "HTML5 boilerplate" b
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

	${0}

</body>
</html>
endsnippet

snippet br "br" i
<br>
endsnippet

snippet hr "hr"
<hr>
endsnippet

snippet img "img"
<img src="${0}">
endsnippet

snippet script "script"
<script type="text/javascript">${0}</script>
endsnippet
