priority -10

snippet f "function" w
function(${1}) {
	${0}
}
endsnippet

snippet fn "function"
function ${1:functionName}(${2}) {
	${0}
}
endsnippet

snippet st "setTimeout"
setTimeout(function() {${1}}, ${0:1000});
endsnippet

snippet iife "Immediately Invoked Function Expression"
(function() {

	${0}

})();
endsnippet
