snippet html
abbr HTML5 boilerplate
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    ${0}

  </body>
  </html>

snippet br
abbr br
  <br>

snippet hr
abbr hr
  <br>

snippet img
abbr img
  <img src="${0}">

snippet script
abbr script
  <script type="text/javascript">${0}</script>
