snippet f
abbr function
  function(${1}) {
    ${0}
  }

snippet fn
abbr function
  function ${1:functionName}(${2}) {
    ${0}
  }

snippet stt
abbr setTimeout
  setTimeout(function() {${0}}, 1000);

snippet iife
abbr Immediately Invoked Function Expression
  (function() {

    ${0}

  })();
